msal==1.28.0
requests==2.32.3

pandas==2.2.2
openpyxl==3.1.5
XlsxWriter==3.2.0

pdfminer.six==20240706
chardet==5.2.0

llama-cpp-python==0.2.84

tqdm==4.66.5
python-dotenv==1.0.1

numpy==1.26.4
regex==2024.9.11

colorama==0.4.6
pyarrow==17.0.0
filetype==1.2.0
